.pack_sec1{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
}

.pack_sec2,.pack_sec3{
	text-align:center;
	border-radius:10px;
	padding:30px 50px;

}

.pack_sec4{
	text-align:center;
	border-radius:10px;
	background:#7B61FF;
	padding:30px 35px;
}

.pack_sec2{
	background:#E3DFFD;
}
.pack_sec3{
		background:#C4B0FF;
}
.pack_sec2 button{
	border:2px solid #7B61FF;
	border-radius:10px;
	padding:10px 20px;
	color:#7B61FF;
	background:#E3DFFD;
	transition:0.5s;
	font-weight:500;


}

.pack_sec3 button{
	border:2px solid #7B61FF;
	border-radius:10px;
	padding:10px 20px;
	background:#C4B0FF;
		color:#7B61FF;
	transition:0.5s;
	font-weight:500;
	
}

.pack_sec4 button{
	border:2px solid white;
	border-radius:10px;
	padding:10px 20px;
	background:#7B61FF;
		color:white;
	transition:0.5s;
	font-weight:500;
	
}


.pack_sec2 button:hover,.pack_sec3 button:hover{
	border:2px solid white;
	color:white;
	transition:0.5s;
}
.pack_sec4 button:hover{
	border:2px solid black;
	color:black;
	transition:0.5s;
}

.pack_sec5 button:nth-child(1){
   background:white;
   border:3px solid  #7B61FF ;
   font-weight:700;
   color: #7B61FF;
   padding:10px 30px;
}

.pack_sec5 button:nth-child(2){
   background: #7B61FF;
   font-weight:700;
   color:white;
   padding:12px 30px;
}