/*sec1*/
*{
	box-sizing:border-box;
	margin:0;
}
.sub_sec1{
	background-color:rgba(0, 0, 255, 0.1);
}
.setting_hover{
	display:flex;
	flex-wrap:wrap;
}

.setting_hover:hover a ,.setting_hover:hover i{
	
	color:#7B61FF;
	transition:0.5s;

}
.parent{
	display:flex;
	justify-content:center;
	align-items:center;
	flex-wrap:wrap;
    gap:20px;

}

.chi1{
	border-radius:10px;
	height:520px;
	background-color:white;
	width:350px;
	
}

.chi1 i{
	font-size:1.2em;
	color:#2B3674;
	transition:0.5s;
}

.chi1 a{
	font-weight:500;
	color:#2B3674;
	cursor:pointer;
	text-decoration:none;
	transition:0.5s;
}
/*
.chi1 a:hover{
	color:#7B61FF;
	transition:0.5s;

}*/

.chi2{
	height:520px;
	width:900px;
	background-color:white;
	border-radius:10px;
	overflow:hidden;
}
.setting_par3 li{
	list-style:none;

	margin:0 10px;
}


.setting_par3 {

	
	position:absolute;
	top:60px;
	padding:10px;
	width:50%;
	transition:0.5s;
	margin:20px 0;
	border-radius:10px;
	left:-1400px;
 	z-index:5;
	background-color:#7B61FF;

}

.setting_par3 ul{
	display:flex;
	flex-wrap:wrap;
  gap:25px;
	margin:5px auto;
	flex-direction:column;
}
.set_lab5{
	margin:75px 0 0 0;
}

.setting_par3 a{
	transition:0.5s;
	color:white;
	font-weight:500;
	padding:5px;
	text-decoration:none;
}

.setting_par3 a:hover{
	background-color:white;
	color:black;
	padding:5px;
	transition:0.5s;
	border-radius:10px;
}

.setting_par1{
	
	position:relative;
	padding:25px;
}
.setting_par1 i{
	position:absolute;
	left:10px;
	display:none;
	top:20px;
	color:white;
	background-color:#7B61FF;
	font-size:1.7em;
	border-radius:10px;
	padding:8px;
}
.setting_par1 h5{
	font-weight:700;
	width:90%;
	overflow:hidden;
	top:30px;
	background-color:white;
	left:30px;
	position:absolute;
}
/*toggle switch*/
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  overflow:hidden;
}
.subscription_sec1{
	display:flex;
	gap:30px;
	justify-content:space-between;
	border-radius:10px;
	align-items:center;
  padding:10px;
  background:linear-gradient(45deg,rgba(0, 0, 255, 0.1),white);
	flex-wrap:wrap;
}

.slider:before {
  position: absolute;
  content: "";
  top:1px;
  height:18px;
  width: 18px;
  overflow:hidden;
  background-color:white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #7B61FF;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;

}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/*over*/
.setting_par4{
	display:flex;
	gap:70px;
}


.setting_par13 {
	display:flex;
}

.setting_par13 table{
	width:100%;
}

.setting_par13 th{
	border-bottom:2px solid #E1E1E1;
	border-top:2px solid #E1E1E1;
	color:#828282;
	font-weight:bold;
	padding:10px 0;
}

.setting_par13 td{
	font-weight:400;
	color:#828282;
	padding:10px 0;
}

.setting_par10{

display:flex;
flex-direction:column;
background-color:rgba(39, 174, 96, 0.2);
border-radius:10px;
padding:20px 60px;
}

.setting_par11{
	display:flex;
	gap:20px;
  padding:0 20px;
  flex-wrap:wrap;
}
.setting_par12{
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
	border-radius:10px;
	border:1px dashed #E5E5E5;
	padding:20px 60px;
}

.wallet_sec1 {
	display:flex;
	justify-content:center;
	align-items:center;
	gap:15px;
}
.wallet_sec1 h1{
	color:#27AE60;
 font-family: 'DM Sans', sans-serif;
font-weight: 1000;

}
.wallet_sec1 img{
	width:30px;
	height:30px;
	opacity:0.4;

}


.subscription_par1 img{

	padding:30px;
	border-radius:10px;
	background-color:rgba(123, 97, 255, 0.2);
}
.setting_par2 h6{
color:#6E717A;
}

.setting_par2 a{
  transition:0.5s;
	color:#6E717A;
	text-decoration:none;

}

.subscription_cont1{
	color:#7B61FF;
}
.subscription_cont2{
  color:#6E717A;
}

.subscription_par1 button{
		padding:7px 15px;
	font-weight:500;
	color:white;
	background:linear-gradient(70deg,#2B44CC,#E487F3);
	border-radius:10px;
	transition:0.5s;
	border:none;
}
.subscription_par1 button:hover{
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
	transition:0.5s;
}



.setting_par2 a:hover{
	color:#7B61FF;
	 transition:0.5s;
}

/*over*/
/*media*/
@media(max-width:1296px){

	.parent{
		position:relative;
	}

	.chi1{
           position:absolute;
           left:-500px;
           transition:0.5s;
           top:10px;         
	}

	.chi2{
		 width:100%;
		 height:550px;
	}

	.setting_par1 i{
		display:block;

	}

	.setting_par1 h5{

	top:30px;
	left:70px;
	
}   

.setting_par3.active{
position:absolute;
	transition:0.5s;
	left:20px;
}
	

	

}

@media(max-width:746px){
   .setting_par13 table{
   	 font-size:0.8em;
   }
}

@media(max-width:600px){
   .setting_par13 table{
   	 font-size:0.5em;
   }
}

@media(max-width:522px){
	.setting_par11{
		justify-content:center;
	}
}

@media(max-width:575px){
	.setting_par3{
		width:90%;
	}
}
/*scroll*/
::-webkit-scrollbar {
  width: 10px;

}

/* Track */
::-webkit-scrollbar-track {

  border-radius: 10px;

}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #7B61FF;
  transition:0.5s; 
  border-radius: 10px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #D883F0; 
  transition:0.5s;
}
/*over*/
