<ul>
    <li><a href="/pi_admin_dashboard/kv" class="nav-link scrollto active"><i class="bx bi-grid-fill"></i> <span>Dashboard</span></a></li>
    <li><a href="#about" class="nav-link scrollto"><i class="bx bi-person-fill"></i> <span>Profile</span></a></li>
    <li><a href="#resume" class="nav-link scrollto"><i class="bx bi-file-text"></i> <span>Clients</span></a></li>
    <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bi-file-text"></i> <span>Task</span></a></li>
    <li><a href="#services" class="nav-link scrollto"><i class="bx bi-gear"></i> <span>Settings</span></a></li>
  </ul>