<ul>
    <li><a href="/pi_admin_dashboard/kv" class="nav-link scrollto active"><i class="bx bi-grid-fill"></i> <span>Dashboard</span></a></li>
    <li><a href="/pi_profile/jh" class="nav-link scrollto"><i class="bx bi-person-fill"></i> <span>Profile</span></a></li>
    <li><a href="/pi_client_list/jh" class="nav-link scrollto"><i class="bx bi-file-text"></i> <span>Clients</span></a></li>
    <li><a href="/pi_add_client/juf" class="nav-link scrollto"><i class="bx bi-file-text"></i> <span>Task</span></a></li>
    <li><a href="/pi_setting/jhhi" class="nav-link scrollto"><i class="bx bi-gear"></i> <span>Settings</span></a></li>
  </ul>