{{current_path}}
{% if current_path in "/pi_admin_dashboard/OBTMOJ6YJYP" %}
      <ul>
        <li><a href="/pi_admin_dashboard/{{key.uid}}" class="nav-link scrollto active"><i class="bx bi-grid-fill"></i> <span>Dashboard</span></a></li>
        <li><a href="/pi_profile/{{key.uid}}" class="nav-link scrollto"><i class="bx bi-person-fill"></i> <span>Profile</span></a></li>
        <li><a href="/pi_client_list/{{key.uid}}" class="nav-link scrollto"><i class="bx bi-file-text"></i> <span>Clients</span></a></li>
        <li><a href="/pi_add_client/{{key.uid}}" class="nav-link scrollto"><i class="bx bi-file-text"></i> <span>Task</span></a></li>
        <li><a href="/pi_setting/{{key.uid}}" class="nav-link scrollto"><i class="bx bi-gear"></i> <span>Settings</span></a></li>
      </ul>

{% elif current_path == "/pi_profile/OBTMOJ6YJYP" %}

<ul>
  <li><a href="/pi_admin_dashboard/{{key.uid}}" class="nav-link scrollto "><i class="bx bi-grid-fill"></i> <span>Dashboard</span></a></li>
  <li><a href="/pi_profile/{{key.uid}}" class="nav-link scrollto active"><i class="bx bi-person-fill"></i> <span>Profile</span></a></li>
  <li><a href="/pi_client_list/{{key.uid}}" class="nav-link scrollto"><i class="bx bi-file-text"></i> <span>Clients</span></a></li>
  <li><a href="/pi_add_client/{{key.uid}}" class="nav-link scrollto"><i class="bx bi-file-text"></i> <span>Task</span></a></li>
  <li><a href="/pi_setting/{{key.uid}}" class="nav-link scrollto"><i class="bx bi-gear"></i> <span>Settings</span></a></li>
</ul>

{% elif current_path == "/pi_payment_table/OBTMOJ6YJYP" %}

<ul>
  <li><a href="/pi_admin_dashboard/{{key.uid}}" class="nav-link scrollto "><i class="bx bi-grid-fill"></i> <span>Dashboard</span></a></li>
  <li><a href="/pi_profile/{{key.uid}}" class="nav-link scrollto active"><i class="bx bi-person-fill"></i> <span>Profile</span></a></li>
  <li><a href="/pi_client_list/{{key.uid}}" class="nav-link scrollto"><i class="bx bi-file-text"></i> <span>Clients</span></a></li>
  <li><a href="/pi_add_client/{{key.uid}}" class="nav-link scrollto"><i class="bx bi-file-text"></i> <span>Task</span></a></li>
  <li><a href="/pi_setting/{{key.uid}}" class="nav-link scrollto"><i class="bx bi-gear"></i> <span>Settings</span></a></li>
</ul>

{% elif current_path == "/edit_profile/OBTMOJ6YJYP" %}

<ul>
  <li><a href="/pi_admin_dashboard/{{key.uid}}" class="nav-link scrollto "><i class="bx bi-grid-fill"></i> <span>Dashboard</span></a></li>
  <li><a href="/pi_profile/{{key.uid}}" class="nav-link scrollto active"><i class="bx bi-person-fill"></i> <span>Profile</span></a></li>
  <li><a href="/pi_client_list/{{key.uid}}" class="nav-link scrollto"><i class="bx bi-file-text"></i> <span>Clients</span></a></li>
  <li><a href="/pi_add_client/{{key.uid}}" class="nav-link scrollto"><i class="bx bi-file-text"></i> <span>Task</span></a></li>
  <li><a href="/pi_setting/{{key.uid}}" class="nav-link scrollto"><i class="bx bi-gear"></i> <span>Settings</span></a></li>
</ul>

{% elif current_path == "/pi_client_list/OBTMOJ6YJYP" %}

<ul>
  <li><a href="/pi_admin_dashboard/{{key.uid}}" class="nav-link scrollto "><i class="bx bi-grid-fill"></i> <span>Dashboard</span></a></li>
  <li><a href="/pi_profile/{{key.uid}}" class="nav-link scrollto "><i class="bx bi-person-fill"></i> <span>Profile</span></a></li>
  <li><a href="/pi_client_list/{{key.uid}}" class="nav-link scrollto active"><i class="bx bi-file-text"></i> <span>Clients</span></a></li>
  <li><a href="/pi_add_client/{{key.uid}}" class="nav-link scrollto"><i class="bx bi-file-text"></i> <span>Task</span></a></li>
  <li><a href="/pi_setting/{{key.uid}}" class="nav-link scrollto"><i class="bx bi-gear"></i> <span>Settings</span></a></li>
</ul>

{% elif current_path == "/pi_client_details/OBTMOJ6YJYP" %}

<ul>
  <li><a href="/pi_admin_dashboard/{{key.uid}}" class="nav-link scrollto "><i class="bx bi-grid-fill"></i> <span>Dashboard</span></a></li>
  <li><a href="/pi_profile/{{key.uid}}" class="nav-link scrollto "><i class="bx bi-person-fill"></i> <span>Profile</span></a></li>
  <li><a href="/pi_client_list/{{key.uid}}" class="nav-link scrollto active"><i class="bx bi-file-text"></i> <span>Clients</span></a></li>
  <li><a href="/pi_add_client/{{key.uid}}" class="nav-link scrollto"><i class="bx bi-file-text"></i> <span>Task</span></a></li>
  <li><a href="/pi_setting/{{key.uid}}" class="nav-link scrollto"><i class="bx bi-gear"></i> <span>Settings</span></a></li>
</ul>

{% elif current_path == "/pi_subscription/OBTMOJ6YJYP" %}

<ul>
  <li><a href="/pi_admin_dashboard/{{key.uid}}" class="nav-link scrollto "><i class="bx bi-grid-fill"></i> <span>Dashboard</span></a></li>
  <li><a href="/pi_profile/{{key.uid}}" class="nav-link scrollto "><i class="bx bi-person-fill"></i> <span>Profile</span></a></li>
  <li><a href="/pi_client_list/{{key.uid}}" class="nav-link scrollto active"><i class="bx bi-file-text"></i> <span>Clients</span></a></li>
  <li><a href="/pi_add_client/{{key.uid}}" class="nav-link scrollto"><i class="bx bi-file-text"></i> <span>Task</span></a></li>
  <li><a href="/pi_setting/{{key.uid}}" class="nav-link scrollto"><i class="bx bi-gear"></i> <span>Settings</span></a></li>
</ul>

{% elif current_path == "/pi_payment_screen/OBTMOJ6YJYP" %}

<ul>
  <li><a href="/pi_admin_dashboard/{{key.uid}}" class="nav-link scrollto "><i class="bx bi-grid-fill"></i> <span>Dashboard</span></a></li>
  <li><a href="/pi_profile/{{key.uid}}" class="nav-link scrollto "><i class="bx bi-person-fill"></i> <span>Profile</span></a></li>
  <li><a href="/pi_client_list/{{key.uid}}" class="nav-link scrollto active"><i class="bx bi-file-text"></i> <span>Clients</span></a></li>
  <li><a href="/pi_add_client/{{key.uid}}" class="nav-link scrollto"><i class="bx bi-file-text"></i> <span>Task</span></a></li>
  <li><a href="/pi_setting/{{key.uid}}" class="nav-link scrollto"><i class="bx bi-gear"></i> <span>Settings</span></a></li>
</ul>



{% elif current_path == "/pi_add_client/OBTMOJ6YJYP" %}

<ul>
  <li><a href="/pi_admin_dashboard/{{key.uid}}" class="nav-link scrollto "><i class="bx bi-grid-fill"></i> <span>Dashboard</span></a></li>
  <li><a href="/pi_profile/{{key.uid}}" class="nav-link scrollto "><i class="bx bi-person-fill"></i> <span>Profile</span></a></li>
  <li><a href="/pi_client_list/{{key.uid}}" class="nav-link scrollto"><i class="bx bi-file-text"></i> <span>Clients</span></a></li>
  <li><a href="/pi_add_client/{{key.uid}}" class="nav-link scrollto active"><i class="bx bi-file-text"></i> <span>Task</span></a></li>
  <li><a href="/pi_setting/{{key.uid}}" class="nav-link scrollto"><i class="bx bi-gear"></i> <span>Settings</span></a></li>
</ul>

{% elif current_path == "/pi_client_feedback/OBTMOJ6YJYP" %}

<ul>
  <li><a href="/pi_admin_dashboard/{{key.uid}}" class="nav-link scrollto "><i class="bx bi-grid-fill"></i> <span>Dashboard</span></a></li>
  <li><a href="/pi_profile/{{key.uid}}" class="nav-link scrollto "><i class="bx bi-person-fill"></i> <span>Profile</span></a></li>
  <li><a href="/pi_client_list/{{key.uid}}" class="nav-link scrollto"><i class="bx bi-file-text"></i> <span>Clients</span></a></li>
  <li><a href="/pi_add_client/{{key.uid}}" class="nav-link scrollto active"><i class="bx bi-file-text"></i> <span>Task</span></a></li>
  <li><a href="/pi_setting/{{key.uid}}" class="nav-link scrollto"><i class="bx bi-gear"></i> <span>Settings</span></a></li>
</ul>

{% elif current_path == "/pi_setting/OBTMOJ6YJYP" %}

<ul>
  <li><a href="/pi_admin_dashboard/{{key.uid}}" class="nav-link scrollto "><i class="bx bi-grid-fill"></i> <span>Dashboard</span></a></li>
  <li><a href="/pi_profile/{{key.uid}}" class="nav-link scrollto "><i class="bx bi-person-fill"></i> <span>Profile</span></a></li>
  <li><a href="/pi_client_list/{{key.uid}}" class="nav-link scrollto"><i class="bx bi-file-text"></i> <span>Clients</span></a></li>
  <li><a href="/pi_add_client/{{key.uid}}" class="nav-link scrollto "><i class="bx bi-file-text"></i> <span>Task</span></a></li>
  <li><a href="/pi_setting/{{key.uid}}" class="nav-link scrollto active"><i class="bx bi-gear"></i> <span>Settings</span></a></li>
</ul>

  {% endif %}
