<header class="mariyo_pro_header pt-2 pb-2">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <img src="../media/img/Logo.png" class="img-fluid">
        </div>
        <div class="col-md-9 text-end">
          <ul class="mt-2">
            <li>
              <a href="#"><i class="bi bi-heart"></i></a>
            </li>
            <li>
              <a href="#"><i class="bi bi-bell"></i></a>
            </li>
            <li>
              <a href="#">
                <img src="{{profile_pic}}">
               
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </header>