<!-- changes -->
<header class="header_color">

  <div class="container">

    <div class="head_sec py-3">
      <div class="head_sec1">
        <a href="#"> <img src="/media/images/Logo.png"></a>
    </div>
    <div class="head_sec2">
         <a href=""><i class="fal fa-heart"></i></a>
         <a href=""><i class="fas fa-bell"></i></a>
         <img src="{{profile_pic}}" width="50px">
         <a href=""><i class="fas fa-caret-down" style="color: #ffffff;"></i></a>
    </div>
    </div>
    
  </div>
  
</header>


<!-- end -->
<!-- <header class="mariyo_pro_header pt-2 pb-2">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <img src="media/img/Logo.png" class="img-fluid">
        </div>
        <div class="col-md-9 text-end">
          <ul class="mt-2">
            <li>
              <a href="#"><i class="bi bi-heart"></i></a>
            </li>
            <li>
              <a href="#"><i class="bi bi-bell"></i></a>
            </li>
            <li>
              <a href="#">
                <img src="{{profile_pic}}">
               
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </header> -->