<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Main Page</title>
	<link rel="stylesheet" type="text/css" href="/media/css/mainpage.css">
	<!-- BS -->

 <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="    sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
	<!-- over -->
</head>
<body>

	<!-- navbar -->
 
    <div class="container">

    	<nav class="navbar navbar-expand-lg bg-white py-3">
  <div class="container-fluid">
    <img src="/media/img/Logo_2.png" class="main_page_img1">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item mx-2">
          <a class="nav-link" aria-current="page" href="#" style="font-weight:500;">Services</a>
        </li> 
        <li class="nav-item mx-2">
          <a class="nav-link" href="#" style="font-weight:500;">Happy Couples</a>
        </li>
        <li class="nav-item mx-2" style="font-weight:500;">
          <a class="nav-link">Helps</a>
        </li>
      </ul>

      <div class="d-flex main_page_btns">
        <a class="main_page_btn1" href="/dashboard">Register</a>
        <a class="main_page_btn2" href="/dashboard">Login</a>
      </div>

    </div>
  </div>
</nav>
</div>

<!-- intro-images -->

<div class="main_page_sty container-fluid">

	<img src="/media/img/main_page.png">

	<h1>Find your best partner here</h1>

	
	
</div>
<!-- over -->
<!-- section1-->
<div class="main_page_sec1 container ">
<div class="main_page_forms  p-5">

		<form>
			<div class="row">

				<div class="col-sm-12 col-md-12 col-lg-4">
					<label class="mb-2" style="color:#2B3674;font-weight:500;">I am Looking for a</label>

					<input type="text" name="Looing_for" class="form-control" placeholder="placeholder">
				</div>
				<div class="col-sm-4 col-md-4">
					<label  class="mb-2" style="color:#2B3674;font-weight:500;">Age</label>

					<div class="main_page_forms1 d-flex">
						<input type="text"  class="form-control" placeholder="From">
						<input type="text" class="form-control mx-2" placeholder="To">
					</div>
				</div>
				<div class="col-sm-4 col-md-4">
					<label  class="mb-2" style="color:#2B3674;font-weight:500;">Height</label>
					<div class="main_page_forms1 d-flex">
						<input type="text"  class="form-control" placeholder="From">
						<input type="text"  class="form-control mx-2" placeholder=To>
					</div>
				</div>
				
			</div>

			<div class="row my-4">

				<div class="col-sm-4">
					<label class="mb-2" style="color:#2B3674;font-weight:500;">Locations</label>

					<select class="form-select">
						<option selected>Select</option>
					</select>
				</div>
				<div class="col-sm-4">
					<label class="mb-2" style="color:#2B3674;font-weight:500;">Cast</label>

					<select class="form-select">
						<option selected>Select</option>
					</select>
				</div>
				<div class="col-sm-4 mt-2">
					<div class="d-grid gap-2 mt-4">
                    <button class="btn  main_page_btn3 text-white" type="submit" >Submit</button>
                    
                    </div>
				</div>
				
			</div>
		</form>
		
	</div>
	<div class="main_page_img2">

		<div class="main_page_img3">
			 <h1>About MarrIyo</h1>
		</div>

		<div class="row my-5">
			<div class="col-lg-6">
				<p>Trusted by the Christian communities all over the world, Chavara Matrimony continues to be the most reliable and reputable online Christian matrimonial platform. Chavara Matrimony is established under the prestigious Chavara Family Welfare Center, which is a proud division of the Chavara Cultural Center located in Kochi. As one of the leading Kerala Christian matrimony websites, </p>
			</div>

			<div class="col-lg-6">
				<p>we strongly strIve to find your perfect soul mate - who can bring out the best in each other. Inspired by Christian values and principles, we help families get highly compatible and supportive in-laws. Entering into our 25th year of expertise in the online matchmaking space and with 2 lakh+ remarkable testimonies, Chavara Matrimony is the best match finder for your life!</p>
			</div>
			
		</div>
		
	</div>
	</div>
<!-- over -->
<!-- Best Choice -->
<div class="main_page_sec2 container my-5">

	<h1 class="mb-5">Best Choice</h1>

	<div class="main_page_img4 my-4">

		<div class="main_page_images">
			
		</div>

		<div class="main_page_images">
			
		</div>

		<div class="main_page_images">
			
		</div>

		<div class="main_page_images">
			
		</div>
 

		
	</div>

	<div class="main_page_btn4 my-5">

        	<a href="#">View All Profile</a>
			
		</div>
	
</div>
<!-- over -->
<!-- Happy Couples -->
<div class="main_page_sec3 ">

<h1>Happy Couples</h1>

<div class="main_page_img5 container">

	<div class="main_page_copimg">
		
	</div>

	<div class="main_page_copimg">
		
	</div>
	

	<div class="main_page_copimg">
		
	</div>
	

	<div class="main_page_copimg">
		
	</div>
	

	<div class="main_page_copimg">
		
	</div>
	
	<div class="main_page_copimg">
		
	</div>

	
	
</div>


		<div class="main_page_btn4 my-5">

        	<a href="#">View All Profile</a>
			
		</div>
	
</div>
<!-- over -->

<!-- ads -->
<div class="main_page_sec4">
<div class="container"> 
	<div class="row">

		<div class="col-lg-6 col-md-6">
			<div class="main_page_adsimg1">
				<img src="/media/img/Mobile.png">
			</div>
		</div>

		<div class="col-lg-6 col-md-6" >

			<div class="main_page_ads">
				 <h2>Download Marriyo App</h2>

				 <h5>Experience best Matrimony App on your smartphone</h5>
			
        <div class="main_page_adsimg2">
				 	<a href="#"><img src="/media/img/google_btns.png" class="main_page_gogbtn"></a>
				 	<a href="#"><img src="/media/img/apple_btns.png" class="main_page_applebtn"></a>
				 	
				</div>
		

			</div>
			
		</div>
		
	</div>
	

</div>
</div>
<!-- over -->
<!-- footer -->
<div class="main_page_sec5 container">

	<div class="row pb-4">

		<div class="col-lg-4 col-md-6">
			<div class="main_page_footer">

			   <ul class="main_page_footer_list1">
			   	<li><h5>Helps</h5></li>
			   </ul>

				<ul class="main_page_footer_list2">

					<li><a href="">FAQ</a> </li>
					<li><a href="">Contact Us</a> </li>
					<li><a href="">Report Misuse</a> </li>
					<li><a href="">Feedback</a> </li>
					<li><a href="">Sitemap</a> </li>
					<li><a href=""> Careers</a></li>
				</ul>
			</div>
		</div>

		<div class="col-lg-4 col-md-6">
			  <ul class="main_page_footer_list1">
			   	<li><h5>Services</h5></li>
			   </ul>

				<ul class="main_page_footer_list2">

					<li><a href="">Free TraIl Service</a> </li>
					<li><a href="">Paid Membership Service</a> </li>
					<li><a href="">Happy Couples </a> </li>
					<li><a href="">Boost Profile</a> </li>

				</ul>
		</div>

		<div class="col-lg-4 col-md-6">
			
			   	<ul class="main_page_footer_list1">
			   	<li><h5>Contact Us</h5></li>
			   </ul>
			   

				<ul class="main_page_footer_list1 mt-4">

					<li>Abcd Building 2nd Floor, <li>
					<li>Near St.Joseph's Church,</li>
					<li>Karikkamuri Cross Road,</li>
					<li>Cochin - 682 011</li>
					<li>Kerala, India</li>

				</ul>

				<ul class="main_page_footer_icon">
					<li> <a href=""><i class="fab fa-facebook"> </i></a>
					<a href="" class="p-2"><i class="fab fa-instagram "></i></a>
					<a href=""><i class="fab fa-linkedin ml-4"></i></li></a> 
				</ul>

		</div>
		
	</div>

	<div class="main_page_sec6 pt-5  container">

		<div class="main_page_footer_last1">
			<h6>Marriyo.com Copyright @ 2022. All rights reserved</h6>
		</div>

		<div class="main_page_footer_last2">
			<h6><a href="">Terms of Use</a> </h6>
			<h6><a href="">PrIvacy Policy</a> </h6>
		</div>
		
	</div>
	
</div>

<!-- over -->

</body>
</html>