{% for key in alldata %}
<div class="modal fade modal-xl" id="{{key.target}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header prof_personal_det">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Profile Details</h1>
          <button type="button"  data-bs-dismiss="modal" aria-label="Close"><i class="fas fa-times-circle"></i></button>
        </div>
        <div class="modal-body">
          <div class="row">
  
              <div class="col-lg-6">
  
                  <div class="prof_personal_sec1">
  
                      <div class="prof_personal_det_img">
                         <img src="{{key.profile_picture}}">
                      </div>
  
                      <div class="prof_personal_det_cont mx-4">
                      
                      <h6>ID:{{key.uid}}</h6>
                      <h4>{{key.name}}</h4>
                      <h6>{{key.address}}</h6>
                      <h6 class="mb-3">{{key.profile_tag}}</h6>
  
                      <button class="prof_personal_btn1 my-2" data-bs-toggle="modal" data-bs-target="#non_sub"><i class="far fa-hand-paper" style="color: #f2f2f3;"></i> Say HI</button>
                      <button class="prof_personal_btn2 my-2"><i class="far fa-hand-paper"></i> HI Later</button>
  
                      </div>
                      
                  </div>
                  
              </div>
  
              <div class="col-lg-6">
  
                  <div class="prof_personal_sec2">
  
                    <div class="prof_personal_sec3">
                        {% for key in mydata %}
                          <h4>Need To Contact Her ?</h4>
                          <h6>Click here to subscribe for more details</h6>
                          <button class="my-3"><a class="subs" href="/package_matching/{{key.uid}}">SubscrIbe Now</a></button>
                          {% endfor %}
                    </div>
                                      
                  </div>
                  
              </div>
              
          </div>
         
         <div class="row my-5">
          
          <div class="container ">
             <div class="card">
           <h5 class="card-header bg-white py-3" style="font-weight:700;">About Me</h5>
            <div class="card-body bg-white p-4" style="color:#6E717A;">
  
                 
                  <p class="card-text">{{ key.about_candidate }} </p>
  
                  {% comment %} <p class="card-text">Lorem Ipsum Is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, </p> {% endcomment %}
   
            </div>
  
          </div>
  
      </div>
             
         </div>
  
  
         <div class="row my-3">
          
          <div class="container ">
             <div class="card">
           <h5 class="card-header bg-white py-3" style="font-weight:700;">Current Status</h5>
            <div class="card-body bg-white p-4" style="color:#6E717A;">
  
                 
                  <p class="card-text">{{ key.current_status }}</p>
   
            </div>
  
          </div>
  
      </div>
             
         </div>
  
         <div class="row my-5">
  
             <div class="col-lg-6">
  
                 <div class="card my-3">
               <h5 class="card-header bg-white py-3" style="font-weight:700;">Contact Details</h5>
                <div class="card-body prof_personal_sec4 p-5">
                   
                   <h4 class="py-2">Need to Know ?</h4>
                   {% for key in mydata %}
                   <h6 class="py-2" >Click here to <a href="/package_matching/{{key.uid}}">Subscribe</a> for more details</h6>
                  {% endfor %}
                 </div>
              </div>
                 
             </div>
  
             <div class="col-lg-6">
                 <div class="card my-3">
               <h5 class="card-header bg-white py-3" style="font-weight:700;">Other Details</h5>
                <div class="card-body prof_personal_sec4 p-5">
                     
                   <h4 class="py-2">Need to Know ?</h4>
                   {% for key in mydata %}
                   <h6 class="py-2">Click here to <a href="/package_matching/{{key.uid}}">Subscribe</a> for more details</h6>
                  {% endfor %}
                 </div>
              </div>
             </div>
             
         </div>
  
        </div>
       
      </div>
    </div>
  </div>
  {% endfor %}