<html>
    <head>
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="/media/css/style.css">
        <link rel="stylesheet" href="/media/css/profileforwho.css">
        <link rel="stylesheet" href="/media/css/dashboard_profile.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    </head>
    <body>
        <section class="sec_body_color">
    
            <div class="container">
        
                <div class="row">
                    <!-- content -->
                    <div class="col-lg-6">
                        <div class="prowho_sty1">
                            <div class="prowho_sty2">
                                <h3>This Profile for whom?</h3>
                                <p>Enter your Basic details for the better service!</p>
                                <!-- 1 -->
                                <div class="prowho_sty3">
                                <div class="row">
                                    
        
                                    <div class="col-4">
                                        <a href="/profile_manager_list/{{key}}" style="text-decoration:none;"><div class="prowho_bord1">
                                            <img src="/media/images/Myself.png"><span >Myself</span>
                                        </div></a>	
                                    </div>
                                    <div class="col-4 ">
                                        <a href="/profile_manager_list/{{key}}" style="text-decoration:none;"><div class="prowho_bord1">
                                            <img src="/media/images/img_user_2.png"><span>Son</span>
                                        </div></a>
                                    </div>
                                    <div class="col-4">
                                        <a href="/profile_manager_list/{{key}}" style="text-decoration:none;"><div class="prowho_bord1">
                                            <img src="/media/images/Daughter.png"><span>Daughter</span>
                                        </div></a>
                                    </div>
                                    
                                </div>
                                <!-- 2 -->
                                <div class="row mt-3">
        
                                    <div class="col-4">
                                        <a href="/profile_manager_list/{{key}}" style="text-decoration:none;"><div class="prowho_bord1">
                                            <img src="/media/images/img_user_1.png"><span>Sister</span>
                                        </div></a>
                                        
                                    </div>
                                    <div class="col-4">
                                        <a href="/profile_manager_list/{{key}}" style="text-decoration:none;"><div class="prowho_bord1">
                                            <img src="/media/images/img_user_3.png"><span>Brother</span>
                                        </div></a>
                                    </div>
                                    <div class="col-4">
                                        <a href="/profile_manager_list/{{key}}" style="text-decoration:none;"><div class="prowho_bord1">
                                           <img src="/media/images/img_trash.png"><span>Relative</span>
                                        </div></a>
                                    </div>
                                    
                                </div>
                                <!-- 3 -->
                                  <div class="row mt-3">
        
                                    <div class="col-4">
                                        <a href="/profile_manager_list/{{key}}" style="text-decoration:none;"><div class="prowho_bord1">
                                            <img src="/media/images/img_frind.png"><span>Friend</span>
                                        </div></a>
                                    </div>
                                    
                                    
                                </div>
                                 <div class="row mt-4">
        
                                    <div class="col-12">
                                        
                                        <button class="btn prowho_btns">Back</button>
                                        <button class="btn prowho_btns">Go Next</button>
                                        
                                    </div>
                                    
                                    
                                </div>
                                <div class="row mt-5">
        
                                    <div class="col-12">
                                        
                                        <p>If don't want to continue now? <a href="#" style="text-decoration:none;color:#7B61FF;">Logout Non</a> </p>
                                    </div>
                                    
                                    
                                </div>
                              
                                </div>
                                <!-- over -->
                            </div>
                        </div>
                    </div>
                    <!-- img -->
                    <div class="col-lg-6">
                        
                        <div class="profforwho_page_images my-5">
        
                            <img src="/media/images/Logo.png">
                  
                        </div>
        
                    </div>
                    
                </div>
                 
            </div>
        
        
        </section>
    {% include 'footer.html' %}
</body>
</html>