<!-- filter -->
<div class="modal fade modal-md" id="filter_modal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header prof_personal_filt">
          <h4 class="modal-title" id="exampleModalLabel" style="font-weight:700;" >Filter</h4>
          <button type="button" data-bs-dismiss="modal" aria-label="Close"><i class="fas fa-times-circle" style="color:black;"></i></button>
        </div>
        <div class="modal-body prof_personal_filt2">
           
           <form method="post" action="#">
         
             <div class="my-3">
              <label for="exampleFormControlInput1" class="form-label">Location</label>
              <select class="form-select py-3">
                <option selected>Select</option>
              </select>
             </div>
  
             <div class="my-4">
              <label for="exampleFormControlInput1" class="form-label">Age</label>
                <select class="form-select py-3">
                <option selected>Select</option>
              </select>
             </div>
            
             <div class="my-4">
              <label for="exampleFormControlInput1" class="form-label">Skin Tone</label>
               <select class="form-select py-3">
                <option selected>Select</option>
              </select>
             </div>
  
                    <div class="my-4">
              <label for="exampleFormControlInput1" class="form-label">Height</label>
               <select class="form-select py-3">
                <option selected>Select</option>
              </select>
             </div>
  
  
                    <div class="my-4">
              <label for="exampleFormControlInput1" class="form-label">Weight</label>
               <select class="form-select py-3">
                <option selected>Select</option>
              </select>
             </div>
  
                    <div class="my-4">
              <label for="exampleFormControlInput1" class="form-label">Physical & Mental Status</label>
               <select class="form-select py-3">
                <option selected>Select</option>
              </select>
             </div>
  
             <div class="prof_personal_savefilt1 my-5 text-center">
               <a href="#">Save Filter</a>
             </div>
  
  
             <div class="prof_personal_savefilt1 text-center mb-5">
               <button class="prof_personal_filbtn1 my-3" type="reset">Reset</button>
               <button class="prof_personal_filbtn2 my-3" type="submit">Submit</button>
             </div>
             <div class="py-1">
        
             </div>  
  
           </form>

        </div>
      
      </div>
    </div>
  </div>