<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/media/css/saved_search.css">
	<link rel="stylesheet" href="/media/css/style.css">
	<!-- BS -->

 <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="    sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
	<!-- over -->
	<title>Save Search</title>
</head>
<body>
	{% include 'header.html' %}

	{% include 'menu_header.html' %}
<div class="save_search_sty">

	<div class="container">

	    <div class="save_search_sec1 pt-4">

	    	<div class="save_search_cont1">
	    		<h4>Save Search</h4>
	    		<h6><span>16</span> Saved Preference Available</h6>
	    	</div>

	    	<div class="save_search_cont2">
	    		<a href="#">Filter <i class="fas fa-filter"></i></a>
	    	</div>
	    	
	    </div>
        <!-- over -->
	    <!-- sec1 -->
	    <div class="row">

	    	<div class="col-lg-12 mt-3">

	    		<div class="save_search_sec2 p">

	    			<div class="save_search_cont3">
	    				<a href="#"> <i class="fas fa-folder-minus"></i></a>
	    			</div>

	    			<div class="save_search_cont4 p-2">
	    				<h4>Dubai Profiles</h4>
	    				<p>20 Profiles</p>

	    				<div class="save_search_cont5">
	    					<a href="#" class="save_search_edit">Edit</a>
	    				<a href="#" class="save_search_VP">View Profile</a>
	    				</div>
	    			</div>
	    			
	    		</div>
	    		
	    	</div>
	    	<div class="col-lg-12 mt-3">

	    		<div class="save_search_sec2 p">

	    			<div class="save_search_cont3">
	    				<a href="#"> <i class="fas fa-folder-minus"></i></a>
	    			</div>

	    			<div class="save_search_cont4 p-2">
	    				<h4>Dubai Profiles</h4>
	    				<p>20 Profiles</p>

	    				<div class="save_search_cont5">
	    					<a href="#" class="save_search_edit">Edit</a>
	    				<a href="#" class="save_search_VP">View Profile</a>
	    				</div>
	    			</div>
	    			
	    		</div>
	    		
	    	</div>
	    	<div class="col-lg-12 mt-3">

	    		<div class="save_search_sec2 p">

	    			<div class="save_search_cont3">
	    				<a href="#"> <i class="fas fa-folder-minus"></i></a>
	    			</div>

	    			<div class="save_search_cont4 p-2">
	    				<h4>Dubai Profiles</h4>
	    				<p>20 Profiles</p>

	    				<div class="save_search_cont5">
	    					<a href="#" class="save_search_edit">Edit</a>
	    				<a href="#" class="save_search_VP">View Profile</a>
	    				</div>
	    			</div>
	    			
	    		</div>
	    		
	    	</div>
	    	<div class="col-lg-12 mt-3 mb-5">

	    		<div class="save_search_sec2 p">

	    			<div class="save_search_cont3">
	    				<a href="#"> <i class="fas fa-folder-minus"></i></a>
	    			</div>

	    			<div class="save_search_cont4 p-2">
	    				<h4>Dubai Profiles</h4>
	    				<p>20 Profiles</p>

	    			<div class="save_search_cont5">
	    					<a href="#" class="save_search_edit">Edit</a>
	    				<a href="#" class="save_search_VP">View Profile</a>
	    				</div>
	    			</div>
	    			
	    		</div>
	    		
	    	</div>
	    	
	    </div>
		<!-- over -->
	</div>
	
</div>

{% include 'footer.html' %}
</body>
</html>