<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="/media/css/stylematch.css">
  <link rel="stylesheet" href="/media/css/style.css">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="    sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
	<!-- BS -->


	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
	<!-- over -->
	<title>Happy Couple</title>
  <style>
    .matchingimage{ 
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-radius: 7px;
      }
    </style>
</head>
<body class="view_all_page">
  {% include 'header.html' %}

  {% include 'menu_header.html' %}

  {% include 'profile_filter_modal.html' %}

  {% include 'your_pref_modal.html' %}

 {% include 'match_list_person.html' %}  
<section >

<div class="container">
     
<div class="row">

        <div class="view_all_sec1 my-3">

          <div>
            <h3>New RegIstration</h3>
            <h6><span>75</span> Matching profiles are available for you</h6>
          </div>

          <div>
            <div class="view_all_sec2">

              <div class="view_all_sec3">
                <button class="btn my-2" type="button" data-bs-toggle="modal" data-bs-target="#filter_modal1">Filter <i class="fas fa-sort-amount-up"></i></button>
                <button class="btn my-2" data-bs-toggle="modal" data-bs-target="#your_pref">Your Preference <i class="far fa-plus-circle"></i></button>
              </div>

            </div>
          </div>
        </div>

</div>

<div class="view_all_images my-5">
  {% for key in alldata %} 
	<div class="view_all_img" data-bs-toggle="modal" data-bs-target="#{{key.target}}">

		<img src="{{key.profile_picture}}" style="
    object-fit: cover;
">

		<button  class="view_all_btn1" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <i class="far fa-ellipsis-v view_all_icon1"></i>
   </button>

   <button  class="view_all_btn2 view_all_icon2" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <i class="fas fa-mountain"></i>
   </button>


   <button class="view_all_btn3">
   	<i class="far fa-hand-paper fa-xs match_list_icon3" style="font-size:1.8em;"></i>
   </button>

   <div class="view_all_content">

          <p>ID: #{{key.uid}}</p>
          <h6>Dubai, United Arab Emirates</h6>
          <h6><em>“Life is full of possibility”</em></h6>
          <p><i class="fas fa-circle fa-xs " style="padding:0 5px 0 0;color:#27AE60;"></i>   Online</p>



        </div>
		
	</div>
  {% endfor %}

	
</div>
 <!-- modal 1 -->
 <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-body p-4">
        <div class="match_list_modal1">
          <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal2">Block this profile</a>
          <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal1">Hi</a>
          <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal4">Request</a>
          <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal3">ComplaInt</a>
          <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal6">Share to</a>
          <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal5">Report</a>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- over -->
<!-- modal2-->
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-body p-4">
        <div class="match_list_modal2 p-5">

          <i class="fas fa-check-circle py-2"></i>
          <h4 class="py-2">Done!</h4>
          <h6 class="py-1">Profile move to “Hi” later</h6>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- over -->
<!-- modal3-->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-body p-4">
        <div class="match_list_modal2 p-5">

          <i class="fas fa-check-circle py-2"></i>
          <h4 class="py-2">Done!</h4>
          <h6 class="py-1">The above account successfully blocked</h6>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- over -->
<!-- modal4-->
<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-body p-4">
        <div class="match_list_modal3 ">
          <form action="#" method="post">
            {% csrf_token %}
            <h4>Complaints</h4>
            <h6 class="my-3">Write your complaints here.</h6>

            <textarea class="form-control my-4" rows="7"></textarea>

            <div class="match_list_modbtn prof_page_btn1 mt-4">
              <div>
                <button type="button" class="btn prof_btns" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn prof_btns" data-bs-toggle="modal"
                  data-bs-target="#exampleModal8">Submit</button>
              </div>
            </div>

          </form>

        </div>
      </div>

    </div>
  </div>
</div>
<!-- over -->
<!-- modal5-->
<div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-body p-4">
        <div class="match_list_modal4">
          <form action="#" method="post">
            {% csrf_token %}
            <h4 class="mb-3 mt-2">Request</h4>

            <div class="match_list_modal5 my-4">
              <label class="matchlist-checkbox">
                <input type="checkbox" checked>
                <span class="matchcheckmark"></span>
                Phone Number
              </label>

              <label class="matchlist-checkbox">
                <input type="checkbox">
                <span class="matchcheckmark"></span>
                Whatsapp Number
              </label>
              <label class="matchlist-checkbox">
                <input type="checkbox">
                <span class="matchcheckmark"></span>
                Home or offIce Physical Address with the house name
              </label>

              <label class="matchlist-checkbox">
                <input type="checkbox">
                <span class="matchcheckmark"></span>
                Horoscope
              </label>

              <label class="matchlist-checkbox">
                <input type="checkbox">
                <span class="matchcheckmark"></span>
                Social Media links
              </label>

            </div>

            <div class="match_list_modbtn prof_page_btn1 mt-4">
              <div>
                <button type="button" class="btn prof_btns" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn prof_btns" data-bs-toggle="modal"
                  data-bs-target="#exampleModal7">Submit</button>
              </div>
            </div>

          </form>

        </div>
      </div>

    </div>
  </div>
</div>
<!-- over -->
<!-- modal6-->
<div class="modal fade" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-body p-4">
        <div class="match_list_modal4">
          <form action="#" method="post">
            {% csrf_token %}
            <h4 class="mb-3 mt-2">Report</h4>

            <h6>Why are you Reporting this post?</h6>

            <div class="match_list_modal5 my-4">
              <label class="matchlist-checkbox">
                <input type="checkbox" checked>
                <span class="matchcheckmark"></span>
                It’s spam
              </label>

              <label class="matchlist-checkbox">
                <input type="checkbox">
                <span class="matchcheckmark"></span>
                Nudity or sexual activity
              </label>
              <label class="matchlist-checkbox">
                <input type="checkbox">
                <span class="matchcheckmark"></span>
                Hate speech or symbols
              </label>

              <label class="matchlist-checkbox">
                <input type="checkbox">
                <span class="matchcheckmark"></span>
                I just don’t Like it
              </label>

              <label class="matchlist-checkbox">
                <input type="checkbox">
                <span class="matchcheckmark"></span>
                Bullying or harassment
              </label>

            </div>

            <div class="match_list_modbtn prof_page_btn1 mt-4">
              <div>
                <button type="button" class="btn prof_btns" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="btn prof_btns">Submit</button>
              </div>
            </div>

          </form>

        </div>
      </div>

    </div>
  </div>
</div>
<!-- over -->
<!-- modal7-->
<div class="modal fade" id="exampleModal6" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-body p-4">

        <div class="match_list_modal6 p-5">

          <h4>Share To</h4>

          <div class="match_list_icon4 mt-5">
            <a href=""><i class="fab fa-facebook-square"></i></a>
            <a href=""><i class="fab fa-linkedin"></i></a>
            <a href=""><i class="fab fa-twitter"></i></a>
            <a href=""><i class="fab fa-instagram"></i></a>
            <a href=""><i class="fab fa-youtube"></i></a>
          </div>

        </div>

      </div>

    </div>

  </div>
</div>
</div>
<!-- over -->
<!-- modal8-->
<div class="modal fade" id="exampleModal7" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">

    <div class="modal-body p-4">
      <div class="match_list_modal2 p-5">

        <i class="fas fa-check-circle py-2"></i>
        <h4 class="py-2">Success!</h4>
        <h6 class="py-1">Successful sent the request.</h6>
      </div>
    </div>

  </div>
</div>
</div>
<!-- over -->
<!-- modal8-->
<div class="modal fade" id="exampleModal8" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">

    <div class="modal-body p-4">
      <div class="match_list_modal2 p-5">

        <i class="fas fa-check-circle py-2"></i>
        <h4 class="py-2">Done!</h4>
        <h6 class="py-1">Complaint has been sent</h6>
      </div>
    </div>

  </div>
</div>
</div>
<!-- over -->

</div>

</section>
{% include 'footer.html' %}
</body>
</html>

